.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 100px;
}

.frogtributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}

.mini {
    transform: scale(0.75);
}

.mini:hover {
    background-color: black;
}
