*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    background: #607d8b;
 
}
.frog {
    width: 200px;
    height: 100px;
  }

  
.frog__eye{
    position: absolute;
    top: 39px;
    left: 64px;
    width: 80px;
    height: 80px;
    clip-path: circle(50% at center);
    background: red;
}

.frog__eye.right{
    transform: translateX(120px);   
}



.iris{
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: black;
    left: 2px;
    top: 2px;    
}

.frog__eyelid{
    width: 100%;
    background-color: rgb(236, 1, 1);
    position: absolute;
}

.iris.right{
    left: 3px;
}

.reflection1{
    position: absolute;
    height: 20px;
    width: 16px;
    background-color: blanchedalmond;
    left: 17px;
    top: 17px;
    border-radius: 100%;
}

.reflection2{
    position: absolute;
    height: 10px;
    width: 8px;
    background-color: blanchedalmond;
    left: 17px;
    top: 38px;
    border-radius: 100%;
}

.frog__head{
    position: absolute;
    width: 200px;
    height: 190px;
    background-color: pink;
    border-radius: 100%;

}

.frog__freckles{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 83px;
    top: 10px;
    transform: rotate(10deg);
}

.frog__freckle{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: darkturquoise;
}
#freckle2{
    left: 15px;
}

#freckle3{
    left: 10px;
    top: 10px;
}

.frog__mouth{
    position: absolute;
    height: 66px;
    width: 151px;
    border-radius: 100%;
    background-color: coral;
    left: 89px;
    top: 149px;
}

.tongue{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E91E63;
    background-image: linear-gradient(to right, #E91E63 50%, #EC407A 50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    width: 46%;
    height: 78%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.frog__warts{
    position: absolute;
    height: 30px;
    width: 30px;
    left: -9px;
    top: 76px;
    transform: rotate(10deg);

}

.frog__wart{
    position: absolute;
    height: 10px;
    width: 10px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    background-color: darkturquoise;
}

#wart1{
    top: 12px;
}

